#### 1. Select jobs based in Boston. 

`SELECT title, description, date_posted, link FROM JobData  
WHERE location_id = (SELECT id FROM Location WHERE city='Boston');`

![title](images/query1.png)

#### 2. Select jobs based in Massachusetts. 

`SELECT title, description, date_posted, link FROM JobData  
WHERE location_id IN (SELECT id FROM Location WHERE state='MA'); `

![title](images/query2.png)

#### 3. Select Remote jobs. 

`SELECT title, description, date_posted, link  
FROM JobData WHERE location_id IN (SELECT id FROM Location WHERE city='Remote'); `

![title](images/query3.png)

#### 4.Select the top 3 locations with low tax rates.  

`SELECT city FROM Location
WHERE state IN 
(SELECT * FROM (SELECT state FROM state_data ORDER BY tax_rate ASC LIMIT 3) AS state_table);`

![title](images/query4.png)

#### 5.Select jobs at a location with the lowest tax rate.  

`SELECT title, description, date_posted, link  
FROM JobData 
WHERE location_id 
IN (SELECT id FROM Location 
WHERE state IN 
(SELECT * FROM (SELECT state FROM state_data ORDER BY tax_rate ASC LIMIT 2) AS state_table); `

![title](images/query5.png)

#### 6.Select jobs at top 3 locations with low cost of living. 

`SELECT title, description, date_posted, link 
FROM JobData WHERE location_id IN 
(SELECT * FROM (SELECT id 	FROM Location ORDER BY cost_of_living_index ASC LIMIT 3) AS location_table);`

![title](images/query6.png)

#### 7. Select jobs from companies with size -> 51 to 200 Employees 

`SELECT title, description, date_posted, link 
FROM JobData WHERE company_id IN (SELECT id FROM Company WHERE size='51 to 200 Employees'); `

![title](images/query7.png)

#### 8.Select jobs from Apple. 

`SELECT title, description, date_posted, link 
FROM JobData WHERE company_id IN (SELECT id FROM Company WHERE name='Apple'); `

![title](images/query8.png)

#### 9.Select internships based in Texas. 

`SELECT title, description, date_posted, link FROM JobData  
WHERE employmentType = ‘Internship’ AND 
location_id IN (SELECT id FROM Location WHERE state=’TX’); `

![title](images/query9.png)

#### 10.Select jobs from companies with revenue -> $1 to $5 million

`SELECT title, description, date_posted, link 
FROM JobData WHERE company_id IN (SELECT id FROM Company WHERE revenue='$1 to $5 million (USD)'); `

![title](images/query10.png)

#### 11.Select jobs from companies with ratings >= 4.0 

`SELECT title, description, date_posted, link  
FROM JobData WHERE company_id IN (SELECT id FROM Company WHERE rating>=4.0); `

![title](images/query11.png)

#### 12.Select jobs with salary > 100000.

`SELECT title, description, date_posted, link  
FROM JobData WHERE id IN (SELECT job_id FROM derived_data WHERE value >100000 and category='Salary'); `

![title](images/query12.png)

#### 13.Select jobs where skill = Python.

`SELECT title, description, date_posted, link  
FROM JobData WHERE id IN (SELECT id FROM derived_data WHERE category='Skills' AND value like '%python%'); `

![title](images/query13.png)

#### 14.Select jobs related to Software Development.

`SELECT title, description, date_posted, link  
FROM JobData WHERE company_id IN (SELECT id FROM Company WHERE industry='Software Development'); `

![title](images/query14.png)

#### 15.Select jobs related to Software Development and skill as Python

`SELECT title, description, date_posted, link  
FROM JobData WHERE company_id 
IN (SELECT id FROM Company WHERE industry='Software Development') 
AND id IN 
(SELECT id FROM derived_data WHERE category='Skills' AND value like '%python%'); `

![title](images/query15.png)

#### 16.Select Apple jobs with title data scientist

`SELECT title, description, date_posted, link  
FROM JobData WHERE title LIKE '%AI/ML%' 
AND company_id IN (SELECT id FROM Company WHERE name='Apple'); `

![title](images/query16.png)

#### 17.Select Data Science EnhanceIT jobs in San Fransisco. 

`SELECT title, description, date_posted, link  
FROM JobData WHERE title LIKE '%data scientist%' 
AND company_id IN (SELECT id FROM Company WHERE name='Enhance IT') 
AND location_id = (SELECT id FROM Location WHERE city='San Fransisco')`

#### 18. Select associate jobs in Boston 

`SELECT title, description, date_posted, link  
FROM JobData WHERE seniority_level='Associate' 
AND location_id = (SELECT id FROM Location WHERE city='Boston'); `

#### 19. Select python associate jobs in Boston.

`SELECT title, description, date_posted, link  
FROM JobData WHERE seniority_level='Associate' 
AND location_id = (SELECT id FROM Location WHERE city='Boston'); `

#### 20. Select jobs from apple where job description contains H1B.

`SELECT title, description, date_posted, link  
FROM JobData WHERE description LIKE '%H1B%' 
AND company_id IN (SELECT id FROM Company WHERE name='Apple');`

![title](images/query20.png)