In [ ]:
#import statements
import pandas as pd
from datetime import datetime, timedelta

In [ ]:
#get un-normalized csv
dfdb = pd.read_csv("JobsNormalize.csv")
dfdb

In [ ]:
#import sql statements
import sqlite3
import plotly.express as px

In [ ]:
#connection to the Database
conn = sqlite3.connect('JobsFinalDatabase.db')

try:
    conn.cursor()
    print("DB Connected");
except Exception as ex:
    print("DB not Connected");

In [ ]:
#Create table Job_basic_details
#Basic table before normalization
conn = sqlite3.connect('JobsFinalDatabase.db')
print("Opened database successfully");
conn.execute('''DROP TABLE IF EXISTS job_basic_details;''')
conn.execute('''CREATE TABLE IF NOT EXISTS job_basic_details
         (
        job_title TEXT,
        company_name TEXT,
        location TEXT,
        salary TEXT,
        job_type TEXT,
        job_post_date datetime,
        job_rating Float,
        job_link TEXT,
        job_desc TEXT,
        company_website TEXT
         );''')

print("job_basic_details Table created successfully");

conn.close()

In [ ]:
#Creating 'user_basic_details' table
conn = sqlite3.connect('JobsFinalDatabase.db')
print("Opened database successfully");
conn.execute('''DROP TABLE IF EXISTS user_basic_details;''')
conn.execute('''CREATE TABLE IF NOT EXISTS user_basic_details
         (
        user_name TEXT  ,
        dob datetime,
        user_location TEXT,
        mobile_number TEXT,
        email_id TEXT,
        portfolio_link TEXT,
        skillset TEXT,
        saved_application_id TEXT,
        certifications TEXT
         );''')

print("user_basic_details Table created successfully");

conn.close()

In [ ]:
#Creating 'user_login_basic_details' table
conn = sqlite3.connect('JobsFinalDatabase.db')
print("Opened database successfully");
conn.execute('''DROP TABLE IF EXISTS user_login_basic_details;''')
conn.execute('''CREATE TABLE IF NOT EXISTS user_login_basic_details
         (
        user_platform_name TEXT  ,
        user_password TEXT,
        user_role TEXT
         );''')

print("user_login_basic_details Table created successfully");

conn.close()

In [ ]:
#Insert data into job_basic_details
conn = sqlite3.connect('JobsFinalDatabase.db')
for row in dfdb.itertuples():
    conn.execute('INSERT or IGNORE INTO job_basic_details(job_title, company_name, location, salary, job_type, job_post_date, job_rating, job_link, job_desc, company_website) VALUES (?,?,?,?,?,?,?,?,?,?)',(
                row.Job_Titile, 
                row.Company,
                row.Location,
                row.Salary,
                row.Job_Tyoe,
                row.Post_Date,
                row.Rating,
                row.Job_URL,
                row.Job_description,
                row.Company_URL
                )
                )
    conn.commit()
print("job_basic_details Table values inserted successfully");
conn.close()

In [ ]:
#display data for job_basic_details table
con = sqlite3.connect('JobsFinalDatabase.db')
q1 = (
'''SELECT * from job_basic_details;''')

r1 = pd.read_sql(q1, con)
r1.head(1)
#print(r1)
r1

In [ ]:
#Insert data into user_basic_details
conn = sqlite3.connect('JobsFinalDatabase.db')
conn.execute('INSERT or IGNORE INTO user_basic_details(user_name, dob, user_location, mobile_number, email_id, portfolio_link, skillset, saved_application_id, certifications) VALUES (?,?,?,?,?,?,?,?,?)',(
                "@Hilton", 
                "1998-04-02",
                "Boston,MA,02345",
                "7658904321",
                "hilton.savage@gmail.com",
                "www.hilton.com",
                "Java, Software, Database",
                "123, 234, 345",
                "CFA, AWS CCP"
                )
                )
conn.commit()
print("user_basic_details Table values inserted successfully");
conn.close()

In [ ]:
con = sqlite3.connect('JobsFinalDatabase.db')
q1 = (
'''SELECT * from user_basic_details;''')

r1 = pd.read_sql(q1, con)
r1.head(1)
#print(r1)
r1

In [ ]:
conn = sqlite3.connect('JobsFinalDatabase.db')
conn.execute('INSERT or IGNORE INTO user_login_basic_details(user_platform_name, user_password, user_role) VALUES (?,?,?)',(
                "@Hilton", 
                "Hilton@123",
                "seeker"
                )
                )
conn.commit()
print("user_login_basic_details Table values inserted successfully");
conn.close()

In [ ]:
con = sqlite3.connect('JobsFinalDatabase.db')
q1 = (
'''SELECT * from user_login_basic_details;''')

r1 = pd.read_sql(q1, con)
r1.head(1)
#print(r1)
r1

In [ ]:
#reading the uncleaned csv
df = pd.read_csv("Jobs_1NF_Final.csv")
df.head()

In [ ]:
df['Salary']

In [ ]:
#replace all the characters 
df['Salary'] = df['Salary'].str.replace('Estimated ','').str.replace(' a year','').str.replace('From','').str.replace('-','').str.replace('a month','').str.replace('an hour','')
df['Salary'] = df['Salary'].str.replace('Fulltime','').str.replace('\n+1','').str.replace('Parttime','').str.replace('Up to','').str.replace('a year','').str.replace('$','')

In [ ]:
df['Salary']

In [ ]:
df1 = df['Salary'].str.split(n=1, expand=True)
df1.columns = ['Salary{}'.format(x+1) for x in df1.columns]

df = df.join(df1)
df

In [ ]:
#replace all the characters 
df['Salary1'] = df['Salary1'].str.replace(',','').str.replace('Up','').str.replace(' ','').str.replace('Contract','').str.replace('Internship','').str.replace('None','')
df['Salary1'] = df['Salary1'].str.replace('.','').str.replace('K','00').str.replace('Temporary','')

In [ ]:
df['Salary1']

In [ ]:
#get rid of '' error
salaries = []
for sal in df['Salary1']:
    if(sal != '' and sal is not None and sal == sal):
        sal = int(sal)
    elif(sal == ''):
        sal = '0'
    else:
        sal = sal
    salaries.append(sal)

In [ ]:
df['Salary1'] = salaries

In [ ]:
#convert the salary1 data type from object to float
df['Salary1'] = df['Salary1'].astype('float64')

In [ ]:
df['Salary1']

In [ ]:
df['Salary2']

In [ ]:
#replace all the characters 
df['Salary2'] = df['Salary2'].str.replace(',','').str.replace('Up','').str.replace(' ','').str.replace('Contract','').str.replace('Internship','').str.replace('None','')
df['Salary2'] = df['Salary2'].str.replace('.','').str.replace('K','00').str.replace('Temporary','')

In [ ]:
df['Salary2']

In [ ]:
#get rid of '' error
salaries1 = []
for sal in df['Salary2']:
    if(sal != '' and sal is not None and sal == sal):
        sal = int(sal)
    elif(sal == ''):
        sal = '0'
    else:
        sal = sal
    salaries1.append(sal)

In [ ]:
#update the salary1
df['Salary2'] = salaries1

In [ ]:
#convert the salary1 data type from object to float
df['Salary2'] = df['Salary2'].astype('float64')

In [ ]:
df['Salary2']

In [ ]:
df

In [ ]:
#delete salary and salary2 column as we are considering only one part of the salary
df.drop(['Salary'], axis=1, inplace=True)

In [ ]:
df

In [ ]:
#replace the column name Salary1 with Salary
df = df.rename({'Salary1': 'Min_salary'}, axis=1)

In [ ]:
#replace the column name Salary1 with Salary
df = df.rename({'Salary2': 'Max_salary'}, axis=1)

In [ ]:
df

In [ ]:
df.describe()

In [ ]:
#fill the null values of Salary column with the mean salary
df.fillna({"Min_salary":df['Min_salary'].mean(),},inplace=True)

In [ ]:
#fill the null values of Salary column with the mean salary
df.fillna({"Max_salary":df['Max_salary'].mean(),},inplace=True)

In [ ]:
#Replace all the string values
df ['Post_Date'] = df['Post_Date'].str.replace('Posted\nPosted','').str.replace(' days ago','').str.replace('+','').str.replace(' day ago','')
df['Post_Date'] = df['Post_Date'].str.replace('Posted\nToday','').str.replace('Employer\nActive 5','').str.replace('Employer\nActive ','').str.replace('Hiring ongoing','').str.replace('Posted\nJust posted','0')

In [ ]:
#lets initialize the datetime
today = datetime.today()
yesterday = today - timedelta(days=1)
one_week_ago = today - timedelta(days=7)
thirty_days_ago = today - timedelta(days=30)
print(today.strftime("%m/%d/%y"))

In [ ]:
#get rid of '' error
dates = []
for date in df['Post_Date']:
    if(date != '' and date is not None and date == date):
        date = (today - timedelta(days=int(date))).strftime("%m/%d/%y")
    dates.append(date)

In [ ]:
#update the Post_Date
df['Post_Date'] = dates
# df["Post_Date"] = pd.to_datetime(df["Post_Date"])

In [ ]:
#display the dataframe after the changes
df

In [ ]:
#fill the null values of Rating column with the mean Rating
df.fillna({"Rating":df['Rating'].mean(),},inplace=True)

In [ ]:
df

In [ ]:
#check for the columns(Salary and Rating) that have updated with null values
df.isna().sum()

In [ ]:
#duplicate values
df.duplicated()

In [ ]:
#initialize the values of duplicated
duplicate = df[df.duplicated()]

In [ ]:
#display all the duplicate values
duplicate

In [ ]:
#Drop all the duplicate vlaues
df = df.drop_duplicates(keep='first')

In [ ]:
df

In [ ]:
#drop all the null values
df = df.dropna()

In [ ]:
df

In [ ]:
#check if there are any null values
df.isna().sum()

In [ ]:
df

In [ ]:
#export the cleaned data into a csv file
df.to_csv("JobsFinalDatabase.csv")

In [ ]:
#import statements
import sqlite3
import plotly.express as px

In [ ]:
conn = sqlite3.connect('JobsFinalDatabase.db')
print("Opened database successfully");
conn.execute('''DROP TABLE IF EXISTS job_details;''')
conn.execute('''CREATE TABLE IF NOT EXISTS job_details
         (
          job_id INTEGER PRIMARY KEY,
          job_title TEXT,
          company_name TEXT,
          job_type TEXT,
          job_post_date datetime,
          job_rating Float,
          job_link TEXT,
          job_desc TEXT,
          company_website TEXT
         );''')

print("job_details Table created successfully");

conn.close()

In [ ]:
conn = sqlite3.connect('JobsFinalDatabase.db')
print("Opened database successfully");
conn.execute('''DROP TABLE IF EXISTS salary_details;''')
conn.execute('''CREATE TABLE IF NOT EXISTS salary_details
         (
          job_id INTEGER PRIMARY KEY ,
          min_salary Float,
          max_salary Float,
          FOREIGN KEY (job_id) REFERENCES job_details(job_id)
         );''')

print("salary_details Table created successfully");

conn.close()

In [ ]:
conn = sqlite3.connect('JobsFinalDatabase.db')
print("Opened database successfully");
conn.execute('''DROP TABLE IF EXISTS job_location_details;''')
conn.execute('''CREATE TABLE IF NOT EXISTS job_location_details
         (
          job_id INTEGER PRIMARY KEY ,
          city TEXT,
          state TEXT,
          zipcode INTEGER,
          FOREIGN KEY (job_id) REFERENCES job_details(job_id)
         );''')

print("job_location_details Table created successfully");

conn.close()

In [ ]:
conn = sqlite3.connect('JobsFinalDatabase.db')
print("Opened database successfully");
conn.execute('''DROP TABLE IF EXISTS user_login_details;''')
conn.execute('''CREATE TABLE IF NOT EXISTS user_login_details
         (
          user_platform_name TEXT PRIMARY KEY ,
          user_password TEXT,
          user_role TEXT
         );''')

print("user_login_details Table created successfully");

conn.close()

In [ ]:
conn = sqlite3.connect('JobsFinalDatabase.db')
print("Opened database successfully");
conn.execute('''DROP TABLE IF EXISTS user_details;''')
conn.execute('''CREATE TABLE IF NOT EXISTS user_details
         (
          user_platform_name TEXT PRIMARY KEY ,
          user_first_name TEXT,
          user_last_name TEXT,
          dob datetime,
          mobile_number TEXT,
          email_id TEXT,
          portfolio_link TEXT,
          FOREIGN KEY (user_platform_name) REFERENCES user_login_details(user_platform_name)
         );''')

print("user_details Table created successfully");

conn.close()

In [ ]:
conn = sqlite3.connect('JobsFinalDatabase.db')
print("Opened database successfully");
conn.execute('''DROP TABLE IF EXISTS user_skillset_details;''')
conn.execute('''CREATE TABLE IF NOT EXISTS user_skillset_details
         (
          user_platform_name TEXT PRIMARY KEY ,
          skillset TEXT,
        FOREIGN KEY (user_platform_name) REFERENCES user_details(user_platform_name)
         );''')

print("user_skillset_details Table created successfully");

conn.close()

In [ ]:
conn = sqlite3.connect('JobsFinalDatabase.db')
print("Opened database successfully");
conn.execute('''DROP TABLE IF EXISTS user_certifications;''')
conn.execute('''CREATE TABLE IF NOT EXISTS user_certifications
         (
          user_platform_name TEXT PRIMARY KEY ,
     certification TEXT,
        FOREIGN KEY (user_platform_name) REFERENCES user_details(user_platform_name)
         );''')

print("user_certifications Table created successfully");

conn.close()

In [ ]:
conn = sqlite3.connect('JobsFinalDatabase.db')
print("Opened database successfully");
conn.execute('''DROP TABLE IF EXISTS user_saved_jobs;''')
conn.execute('''CREATE TABLE IF NOT EXISTS user_saved_jobs
         (
          user_platform_name TEXT PRIMARY KEY ,
        saved_application_id INTEGER,
        FOREIGN KEY (user_platform_name) REFERENCES user_details(user_platform_name)
         );''')

print("user_saved_jobs Table created successfully");

conn.close()

In [ ]:
conn = sqlite3.connect('JobsFinalDatabase.db')
print("Opened database successfully");
conn.execute('''DROP TABLE IF EXISTS user_location_details;''')
conn.execute('''CREATE TABLE IF NOT EXISTS user_location_details
         (
          user_platform_name TEXT PRIMARY KEY ,
          city TEXT,
          state TEXT,
          zipcode INTEGER,
        FOREIGN KEY (user_platform_name) REFERENCES user_details(user_platform_name)
         );''')

print("user_location_details Table created successfully");

conn.close()

In [ ]:
conn = sqlite3.connect('JobsFinalDatabase.db')
i = 0
for row in df.itertuples():
    i += 1
    conn.execute('INSERT or IGNORE INTO job_details(job_id, job_title, company_name, job_type, job_post_date, job_rating, job_link, job_desc, company_website) VALUES (?,?,?,?,?,?,?,?,?)',(
                i,
                row.Job_Titile, 
                row.Company,
                row.Job_Tyoe,
                row.Post_Date,
                row.Rating,
                row.Job_URL,
                row.Job_description,
                row.Company_URL
                )
                )
    conn.commit()
print("job_details Table values inserted successfully");
conn.close()

In [ ]:
con = sqlite3.connect('JobsFinalDatabase.db')
q1 = (
'''SELECT * from job_details;''')

r1 = pd.read_sql(q1, con)
r1.head(1)
#print(r1)
r1

In [ ]:
conn = sqlite3.connect('JobsFinalDatabase.db')
i = 0
for row in df.itertuples():
    i += 1
    conn.execute('INSERT or IGNORE INTO salary_details(job_id, min_salary, max_salary) VALUES (?,?,?)',(
                i,
                row.Min_salary, 
                row.Max_salary
                )
                )
    conn.commit()
print("salary_details Table values inserted successfully");
conn.close()

In [ ]:
conn = sqlite3.connect('JobsFinalDatabase.db')
i = 0
for row in df.itertuples():
    i+=1
    conn.execute('INSERT or IGNORE INTO job_location_details(job_id, city, state, zipcode) VALUES (?,?,?,?)',(
                i,
                row.City, 
                row.State,
                row.ZipCode
                )
                )
    conn.commit()
print("job_location_details Table values inserted successfully");
conn.close()

In [ ]:
conn = sqlite3.connect('JobsFinalDatabase.db')
print("Opened database successfully");
conn.execute('''DROP TABLE IF EXISTS company_details;''')
conn.execute('''CREATE TABLE IF NOT EXISTS company_details
         (
          company_name TEXT PRIMARY KEY ,
          company_website TEXT
         );''')

print("company_details Table created successfully");

conn.close()

In [ ]:
conn = sqlite3.connect('JobsFinalDatabase.db')
i = 0
for row in df.itertuples():
    i+=1
    conn.execute('INSERT or IGNORE INTO company_details(company_name, company_website) VALUES (?,?)',(
                row.Company, 
                row.Company_URL
                )
                )
    conn.commit()
print("company_details Table values inserted successfully");
conn.close()

In [ ]:
conn = sqlite3.connect('JobsFinalDatabase.db')
conn.execute('INSERT or IGNORE INTO user_login_details(user_platform_name, user_password, user_role) VALUES (?,?,?)',(
                "@Hilton", 
                "Hilton@123",
                "seeker"
                )
                )
conn.commit()
print("user_login_details Table values inserted successfully");
conn.close()

In [ ]:
conn = sqlite3.connect('JobsFinalDatabase.db')
conn.execute('INSERT or IGNORE INTO user_details(user_platform_name, user_first_name, user_last_name, dob, mobile_number, email_id, portfolio_link) VALUES (?,?,?,?,?,?,?)',(
                "@Hilton", 
                "Hilton",
                "Benson",
                "1998-04-02",
                "7658904321",
                "hilton.savage@gmail.com",
                "www.hilton.com"
                )
                )
conn.commit()
print("user_details Table values inserted successfully");
conn.close()

In [ ]:
conn = sqlite3.connect('JobsFinalDatabase.db')
conn.execute('INSERT or IGNORE INTO user_skillset_details(user_platform_name, skillset) VALUES (?,?)',(
                "@Hilton", 
                "Java",
                )
                )
conn.execute('INSERT or IGNORE INTO user_skillset_details(user_platform_name, skillset) VALUES (?,?)',(
                "@Hilton", 
                "Software",
                )
                )
conn.commit()
print("user_skillset_details Table values inserted successfully");
conn.close()

In [ ]:
conn = sqlite3.connect('JobsFinalDatabase.db')
conn.execute('INSERT or IGNORE INTO user_certifications(user_platform_name, certification) VALUES (?,?)',(
                "@Hilton", 
                "AWS CCP",
                )
                )
conn.execute('INSERT or IGNORE INTO user_certifications(user_platform_name, certification) VALUES (?,?)',(
                "@Hilton", 
                "CFA",
                )
                )
conn.commit()
print("user_certifications Table values inserted successfully");
conn.close()

In [ ]:
conn = sqlite3.connect('JobsFinalDatabase.db')
conn.execute('INSERT or IGNORE INTO user_saved_jobs(user_platform_name, saved_application_id) VALUES (?,?)',(
                "@Hilton", 
                1,
                )
                )
conn.execute('INSERT or IGNORE INTO user_saved_jobs(user_platform_name, saved_application_id) VALUES (?,?)',(
                "@Hilton", 
                200,
                )
                )
conn.commit()
print("user_saved_jobs Table values inserted successfully");
conn.close()

In [ ]:
conn = sqlite3.connect('JobsFinalDatabase.db')
conn.execute('INSERT or IGNORE INTO user_location_details(user_platform_name, city, state, zipcode) VALUES (?,?,?,?)',(
                "@Hilton", 
                "Boston",
                "MA",
                "01234"
                )
                )
conn.commit()
print("user_location_details Table values inserted successfully");
conn.close()

In [ ]:
#3NF
conn = sqlite3.connect('JobsFinalDatabase.db')
print("Opened database successfully");
conn.execute('''DROP TABLE IF EXISTS company_details;''')
conn.execute('''CREATE TABLE IF NOT EXISTS company_details
         (
          company_name TEXT PRIMARY KEY ,
          company_website TEXT
         );''')

print("company_details Table created successfully");

conn.close()

In [ ]:
conn = sqlite3.connect('JobsFinalDatabase.db')
i = 0
for row in df.itertuples():
    i+=1
    conn.execute('INSERT or IGNORE INTO company_details(company_name, company_website) VALUES (?,?)',(
                row.Company, 
                row.Company_URL
                )
                )
    conn.commit()
print("company_details Table values inserted successfully");
conn.close()

In [ ]:
con = sqlite3.connect('JobsFinalDatabase.db')
q1 = (
'''SELECT * from company_details;''')

r1 = pd.read_sql(q1, con)
r1.head(1)
#print(r1)
r1

In [ ]:
## Query 2
con = sqlite3.connect('JobsFinalDatabase.db')
con.execute (
'''Create View analyst_jobs as select c.company_name, avg(j.job_rating) from company_details c inner join job_details j on c.company_name = j.company_name group by c.company_name having avg(j.job_rating) > 2.0 and avg(j.job_rating) < 4.0;''')
q1 = ('''Select * from analyst_jobs''')
r3 = pd.read_sql(q1, con)
r3.head(1)
#print(r1)
r3

In [ ]:
##Query 1
con = sqlite3.connect('JobsFinalDatabase.db')
con.execute (
'''create view jobs_rating as Select j.job_title, j.job_link, l.city || ', ' ||  l.state || ', ' ||  l.zipcode as location, s.min_salary as salary, j.job_post_date, j.job_desc, j.job_rating, j.job_type from job_details j inner join salary_details s on j.job_id = s.job_id inner join job_location_details l on j.job_id = l.job_id where j.job_title LIKE "%Analyst%";''')

q1 = ('''Select * from jobs_rating''')
r3 = pd.read_sql(q1, con)
r3.head(1)
#print(r1)
r3

In [ ]:
## Query 3
con = sqlite3.connect('JobsFinalDatabase.db')
con.execute (
'''create view job_location as select c.company_name, c.company_website, l.city || ', ' || l.state || ', ' || l.zipcode as location from company_details c inner join job_details j on c.company_name = j.company_name inner join job_location_details l on j.job_id = l.job_id where l.state LIKE "%MA%";''')
q1 = ('''Select * from job_location''')
r3 = pd.read_sql(q1, con)
r3.head(1)
#print(r1)
r3

In [ ]:
## Query 4

con = sqlite3.connect('JobsFinalDatabase.db')
con.execute (
'''create view software_jobs as select j.job_title, j.job_link, l.city || ', ' || l.state || ', ' || l.zipcode as location, s.min_salary as salary, j.job_rating, j.job_type from job_details j inner join salary_details s on j.job_id = s.job_id inner join job_location_details l on j.job_id = l.job_id where j.job_desc LIKE "%Software%" ORDER BY j.job_rating desc limit 5;''')

q1 = ('''Select * from software_jobs''')
r3 = pd.read_sql(q1, con)
r3.head(1)
#print(r1)
r3

In [ ]:
## Query 5

con = sqlite3.connect('JobsFinalDatabase.db')
con.execute (
'''create view intern_jobs as Select j.job_title, j.job_link, j.job_type, s.min_salary as salary from job_details j inner join salary_details s on j.job_id = s.job_id where j.job_type LIKE "%Full-time%" and j.job_title LIKE "%Intern%";''')

q1 = ('''Select * from intern_jobs''')
r3 = pd.read_sql(q1, con)
r3.head(1)
#print(r1)
r3

In [ ]:
## Query 6

con = sqlite3.connect('JobsFinalDatabase.db')
con.execute (
'''create view fullstack_jobs as select c.company_name from company_details c inner join job_details j on c.company_name = j.company_name where j.job_title LIKE "%Full Stack%" group by c.company_name having max(j.job_rating) > 4;''')

q1 = ('''Select * from fullstack_jobs''')
r3 = pd.read_sql(q1, con)
r3.head(1)
#print(r1)
r3

In [ ]:
## Query 7

con = sqlite3.connect('JobsFinalDatabase.db')
con.execute (
'''create view remote_jobs as select j.job_title, c.company_name, j.job_link, l.city || ', ' || l.state || ', ' ||  l.zipcode as location, s.min_salary as salary from job_details j left join company_details c on c.company_name = j.company_name inner join salary_details s on j.job_id = s.job_id inner join job_location_details l on j.job_id = l.job_id where j.job_title LIKE "%Remote%" and s.min_salary >= 70000;''')

q1 = ('''Select * from remote_jobs''')
r3 = pd.read_sql(q1, con)
r3.head(1)
#print(r1)
r3

In [ ]:
## Query 8

con = sqlite3.connect('JobsFinalDatabase.db')
con.execute (
'''create view jobs_location as select j.company_name, j.job_type, l.city || ', ' || l.state || ', ' || l.zipcode as location from job_details j inner join job_location_details l where j.job_type = "Internship" and l.city LIKE "%Boston%";''')

q1 = ('''Select * from jobs_location''')
r3 = pd.read_sql(q1, con)
r3.head(1)
#print(r1)
r3

In [ ]:
## Query 9

con = sqlite3.connect('JobsFinalDatabase.db')
con.execute (
'''create view developer_jobs as select j.job_title, AVG(j.job_rating), c.company_name from job_details j inner join company_details c on j.company_name = c.company_name where j.job_title LIKE "%Developer%" group by j.job_title, c.company_name;''')

q1 = ('''Select * from developer_jobs''')
r3 = pd.read_sql(q1, con)
r3.head(1)
#print(r1)
r3

In [ ]:
## Query 10

con = sqlite3.connect('JobsFinalDatabase.db')
con.execute (
'''create view software_engineer_jobs as select l.city || ', ' || l.state || ', ' || l.zipcode as Location from job_location_details l inner join job_details j on l.job_id = j.job_id where j.job_type = "Internship" and j.job_title LIKE "%Software Engineer%";''')

q1 = ('''Select * from software_engineer_jobs''')
r3 = pd.read_sql(q1, con)
r3.head(1)
#print(r1)
r3

In [ ]:
## Query 11

con = sqlite3.connect('JobsFinalDatabase.db')
con.execute (
'''create view finance_jobs as select j.job_link as URL from job_details j where job_title LIKE "%Java%" UNION Select c.company_website as URL from company_details c where c.company_name LIKE "%Cigna%";''')

q1 = ('''Select * from finance_jobs''')
r3 = pd.read_sql(q1, con)
r3.head(1)
#print(r1)
r3

In [ ]:
## Query 12

con = sqlite3.connect('JobsFinalDatabase.db')
con.execute (
'''create view user_skillset as select j.job_title, j.job_link, s.min_salary as salary from job_details j inner join salary_details s on j.job_id = s.job_id where j.job_title LIKE "%Co-op%" group by j.job_title,s.min_salary, j.job_link having avg(j.job_rating) > 3.0;''')

q1 = ('''select * from user_skillset''')
r3 = pd.read_sql(q1, con)
r3.head(1)
#print(r1)
r3

In [ ]:
## Query 13

con = sqlite3.connect('JobsFinalDatabase.db')
con.execute (
'''create view jobs_postings as select j.job_title, j.job_link, j.job_post_date from job_details j where j.job_post_date >= DATE('now', '-30 day');''')

q1 = ('''select * from jobs_postings''')
r3 = pd.read_sql(q1, con)
r3.head(1)
#print(r1)
r3

In [ ]:
## Query 14

con = sqlite3.connect('JobsFinalDatabase.db')
con.execute (
'''create view job_roles as select j.job_title, l.city || ', ' || l.state || ', ' || l.zipcode as location, j.job_desc, j.job_type from job_details j inner join job_location_details l on j.job_id = l.job_id where j.job_type = "Contract";''')

q1 = ('''select * from job_roles''')
r3 = pd.read_sql(q1, con)
r3.head(1)
#print(r1)
r3

In [ ]:
## Query 15

con = sqlite3.connect('JobsFinalDatabase.db')
con.execute (
'''create view software_engg_jobs as select j.job_title, j.job_link, c.company_website, j.job_type, s.min_salary as salary, l.city || ', ' || l.state || ', ' || l.zipcode as location from job_details j inner join company_details c on j.company_name = c.company_name inner join salary_details s on j.job_id = s.job_id inner join job_location_details l on j.job_id = l.job_id where l.state LIKE "%MA%" and j.job_title LIKE "%Software%";''')

q1 = ('''select * from software_engg_jobs''')
r3 = pd.read_sql(q1, con)
r3.head(1)
#print(r1)
r3